* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, FiraCode, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(68, 64, 60, 0.0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: 0;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber {
  padding: 0 10px;
  color: #030712;
}

#window {
  margin: 0 4px;
}

#clock {
  background-color: #ec6148;
  border-radius: 24px;
}

#battery {
  background-color: #ec6148;
  color: #000000;
  border-radius: 24px;
}

#battery.charging,
#battery.plugged {
  color: #000000;
  background-color: #ec6148;
}

@keyframes blink {
  to {
    background-color: #ec6148;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #ec6148;
  color: #030712;
  border-radius: 24px;
}

#memory {
  background-color: #ec6148;
  color: #030712;
  border-radius: 24px;
}

#disk {
  background-color: #ec6148;
  border-radius: 24px;
}

#backlight {
  background-color: #ec6148;
  border-radius: 24px;
}

#network {
  background-color: #ec6148;
  color: #030712;
  border-radius: 24px;
}

#network.disconnected {
  background-color: #ec6148;
}

#pulseaudio {
  background-color: #ec6148;
  color: #030712;
  border-radius: 24px;
}

#pulseaudio.muted {
  background-color: #ec6148;
  color: #2a5c45;
}

#wireplumber {
  background-color: #ec6148;
  color: #000000;
  border-radius: 24px;
}

#wireplumber.muted {
  background-color: #ec6148;
}

#temperature {
  background-color: #ec6148;
  border-radius: 24px;
}

#temperature.critical {
  background-color: #ec6148;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: rgba(0, 0, 0, 0.2);
}